
<div class="container" ng-app="MVCLibrary" ng-controller="townDetailCtrl" ng-cloak>


    <button data-ng-click="returnToList()">Return to town list</button>

</div>

@section Scripts {
        <script src="@Url.Content("~/Scripts/app/services/townService.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/app/controllers/townCtrl.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/app/other/animations.js")" type="text/javascript"></script>
}